---
- name: get list of active repositories
  command: yum repolist
  args:
    warn: false
  register: yum_repolist
  changed_when: false
  check_mode: false

- name: enable highavailability repository (AlmaLinux 8.3+)
  ini_file:
    dest: '/etc/yum.repos.d/almalinux-ha.repo'
    section: 'ha'
    option: 'enabled'
    value: '1'
    create: 'no'
    mode: '0644'
  when: >-
    'HighAvailability' not in yum_repolist.stdout
    and enable_repos | bool
    and ansible_distribution_major_version in ['8']
