---
- name: Enable kdump service
  service:
    name: 'kdump'
    state: 'started'
    enabled: true

- name: Configure separate stonith devices per cluster node
  block:
    - name: create fence_kdump STONITH devices
      pcs_resource:
        name: "fence-kdump-{{ hostvars[item][cluster_hostname_fact] }}"
        resource_class: 'stonith'
        resource_type: 'fence_kdump'
        options: "pcmk_host_list={{ hostvars[item][cluster_hostname_fact] }}"
      with_items: "{{ play_hosts }}"
      run_once: true

    - name: create fence constraints
      pcs_constraint_location:
        resource: "fence-kdump-{{ hostvars[item][cluster_hostname_fact] }}"
        node_name: "{{ hostvars[item][cluster_hostname_fact] }}"
        score: '-INFINITY'
      with_items: '{{ play_hosts }}'
      run_once: true
  when: cluster_configure_stonith_style is not defined or cluster_configure_stonith_style == 'one-device-per-node'

- name: Configure single stonith device for all nodes
  block:
    - name: create fence_kdump STONITH device
      pcs_resource:
        name: "fence-kdump"
        resource_class: 'stonith'
        resource_type: 'fence_kdump'
        options: >-
          pcmk_host_map="{% for item in groups['cluster'+rand_id+'_node_is_remote_False'] %}{{ hostvars[item][cluster_hostname_fact] }}:{{ hostvars[item]['vm_name'] }};{% endfor %}"
      run_once: true
  when: cluster_configure_stonith_style is defined and cluster_configure_stonith_style == 'one-device-per-cluster'
