---
- name: mount cdrom to /media/CentOS
  mount:
    name: '/media/CentOS'
    src: '/dev/cdrom'
    state: 'mounted'
    fstype: 'iso9660'
    opts: 'ro'

- name: Install libselinux-python to work with SELinux setting
  yum:
    name: 'libselinux-python'
    state: 'installed'
    disablerepo: '*'
    enablerepo: "c{{ ansible_distribution_major_version }}-media"

- name: Install firewall packages
  yum:
    name: '{{ firewall_packages }}'
    state: 'installed'
    disablerepo: '*'
    enablerepo: "c{{ ansible_distribution_major_version }}-media"
  when: cluster_firewall|bool

- name: Install Pacemaker cluster packages to all nodes
  yum:
    name: "{{ pacemaker_packages }}"
    state: 'installed'
    disablerepo: '*'
    enablerepo: "c{{ ansible_distribution_major_version }}-media"

- name: Install package(s) for fence_xvm
  yum:
    name: "{{ fence_xvm_packages }}"
    state: 'installed'
    disablerepo: '*'
    enablerepo: "c{{ ansible_distribution_major_version }}-media"
  when: cluster_configure_fence_xvm|bool

- name: Install package(s) for fence_kdump
  yum:
    name:  "{{ fence_kdump_packages }}"
    state: 'installed'
    disablerepo: '*'
    enablerepo: "c{{ ansible_distribution_major_version }}-media"
  when: cluster_configure_fence_kdump|bool
